body {
--link-color: #fff;
--text-font-family:"Roboto", sans-serif;
--logo-font-family:"Raleway", sans-serif;
--background-color:#2E2F42;
--title-color: #2E2F42;
--content-color:#434455;
}
*{
    font-family: var(--text-font-family)
}
* {
    box-sizing: border-box;
}
.global-header {
    background-color: #ffffff;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{display: flex;
    justify-content: space-evenly;
    width: 500px;
}
ul {
    list-style-type: none;  
}
.container {
width: 1200px;
}
.section {
    display: flex;
    justify-content: center;
}
.logo::before {
    content: "WEB";
    color: #4D5AE5;
    font-family: var(--logo-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}
.header-logo {
    font-family: var(--logo-font-family);
    color: #2E2F42;
    font-weight: 800;
     font-size: 18px;
    line-height: 1.2;
     text-transform: uppercase;
}
.global-header .menu-nav a{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.global-header .menu-nav a:hover {
    color: #9747FF;
    text-decoration:underline;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    }
.contacts a {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
}
.contacts a.mail:hover {
    color: #404BBF;
}
a {
    text-decoration: none;
}
.section-hero { 
    background-color:var(--background-color);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
     text-align: center;
    align-items: center;
     height: 500px;
}
.hero-title{
    font-weight: 700;
     font-size: 56px;
    line-height: 1.1;
}
.hero-title:hover {
    text-decoration: underline;
    }
.button-services {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    justify-content: center;
} 
.button-services:hover,
.button-services:focus{
background-color: #404BBF;
}
.feature{
    display: flex;
    gap: 24px;
    padding: 100px 70px;
}
.section1 h3{
    color:var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.section1 p{
    color:var(--content-color);
    font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
} 
.section2{
    display: flex;
    justify-content: center;
    padding: 0px 100px;
}
.what-are-we-doing{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.section2 h2{
    color:var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    padding-bottom: 72px;
}
.section3 {
    display: flex;
    background-color:#f4f4fd;
    justify-content: center;
     margin-top: 100px
}
.our-team{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;
}
.section3 h2{
    color:var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    padding: 60px 35px;
}
.section3 h3{
    color:var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}
.section3 p{
    color:var(--content-color);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.cards{
    background-color: #fff;
}
.global-footer{
    background-color:var(--background-color);
    display: flex;
    justify-content: center;
    height: 300px;
    padding-left: 100px;
    align-items: center;
}
.container-footer{
    width: 1200px;
}
.global-footer-logo::after{
    content: "STUDIO";
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}
.footer-logo {
    font-family: var(--logo-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
}
.description{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    }
.buttons {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    gap: 24px;
    text-align: center;
}
.filters button{
    background-color: #f4f4fd;
    border:1px solid#E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    padding: 12px 24px;
    width: 116px;
    height: 48px;
}
.filters button:hover,
.filters button:focus {
    background-color: #404BBF;;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    cursor: pointer;
}
.project-card-items{
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}
.section-row li{
    width: 360px;
    height: 420px;
    background: #fff;
     border: 1px solid #e7e9fc;
}
.section-row h3 {
    color:var(--title-color);
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
    padding-left: 16px;
}
.section-row p {
    color:var(--content-color);
    font-size: 16px;
    line-height: 1.2;
    padding-left: 16px;
}
.container{
    max-width: 1200px;
}
.global-header, .section-hero, .section1, .section2, .section3, .filters, .section-row{
    display: flex;
    justify-content: center;
}