body {
--link-color: #fff;
--text-font-family:"Roboto", sans-serif;
--logo-font-family:"Raleway", sans-serif;
--background-color:#2E2F42;
--title-color: #2E2F42;
--content-color:#434455;
--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*{
    font-family: var(--text-font-family)
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.global-header {
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
    height: 72px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{display: flex;
    justify-content: space-evenly;
    width: 500px;
}
ul {
    list-style-type: none;  
}
.container {
max-width: 1200px;
margin: 0 auto;
}
.section {
    display: flex;
    justify-content: center;
}
.logo::before {
    content: "WEB";
    color: #4D5AE5;
    font-family: var(--logo-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}
.header-logo {
    font-family: var(--logo-font-family);
    color: #2E2F42;
    font-weight: 800;
     font-size: 18px;
    line-height: 1.2;
}
.logo:hover{
    transform: scale(1.05);
}
.global-header .menu-nav a{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.global-header .menu-nav a:hover {
    color: #404BBF;
}
.global-header .menu-nav .active{
    color: #4d5ae5;
    border-bottom: 4px solid #4d5ae5;
    padding-bottom: 24px;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    }
.contacts a {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
}
.contacts a:hover{
 color: #404BBF}
a {
    text-decoration: none;
    transition: var(--transition);
}

.section-hero { 
    background-color:var(--background-color) ;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
     text-align: center;
    align-items: center;
     height: 500px;
    background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office.png");
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
}
.hero-title{
    font-weight: 700;
     font-size: 56px;
    line-height: 1.1;
}
.button-services {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    justify-content: center;
    border-color: #4D5AE5;
    outline:none;
} 
.button-services:hover,
.button-services:focus{
background-color: #404BBF;
}
.feature{
    display: flex;
    gap: 24px;
    padding: 100px 70px;
}
.icon{
    width: 64px;
    height: 64px;
}
.feature-icon {
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 h3{
    color:var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    display: flex;
}
.section1 p{
    color:var(--content-color);
    font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
} 
.section2{
    display: flex;
    justify-content: center;
    padding: 0px 100px;
}
.what-are-we-doing{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.section2 h2{
    color:var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    padding-bottom: 72px;
}
.section3 {
    display: flex;
    background-color:#f4f4fd;
    justify-content: center;
     margin-top: 100px;
}
.our-team{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;
}
.section3 h2{
    color:var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    padding: 60px 35px;
}
.section3 h3{
    color:var(--title-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}
.section3 p{
    color:var(--content-color);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.section4 h2 {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    padding: 60px 35px;
}
.cards{
    background-color: #fff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
}
.social-icon {
    color:#8E8F99;
}


.social-links-list {
    display: flex;
    justify-content:space-between;
    gap: 24px;
}

.social-icon svg {
    width: 16px;
    height: 16px;
}
.social-icon {
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    fill: var(--link-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon:hover,
.social-icon:active {
    background: #404BBF;
    border-radius: 50%;
    fill: var(--link-color);
    transition: var(--transition);
}
.section-style{
    align-items: center;
}
.section-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 120px;
}
.icon-client {
    color: #8e8f99;
}
.icon-client {
    width: 104px;
    height: 56px;
}
.icon-client:hover,
.icon-client:focus {
    color: #4d5ae5;
    transition: var(--transition);
}

.icon-client svg:hover,
.icon-client svg:focus {
    transition: var(--transition);
}
.icon-client-background {
    width: 168px;
    height: 88px;
    background: #fff;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-client-background:hover,
.icon-client-background:focus {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
}
.global-footer{
    background-color:var(--background-color);
    display: flex;
    justify-content: center;
    height: 300px;
    padding-left: 100px;
    align-items: center;
}
.container-footer{
    width: 1200px;
    margin:0 auto;
    display:flex;
    gap:60px;
}
.global-footer-logo::after{
    content: "STUDIO";
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
}
.footer-logo {
    font-family: var(--logo-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
}
.footer-logo-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 264px;}
.description{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    }
.footer-social-links {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.footer-social-links p {
    margin: top 100px;
}
.footer-social-links-list {
    display: flex;
    justify-content: space-between;
    width: 208px;
    gap:16px;
}
.footer-icon svg {
    width: 24px;
    height: 24px;
    color: #8e8f99;
}

.footer-icon svg:hover,
.footer-icon svg:active {
    fill: #fff;
}

.footer-icon {
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--link-color);
}

.footer-icon:hover,
.footer-icon:active {
    background: #31D0AA;
    border-radius: 50%;
    fill: #F4F4FD;
    transition: var(--transition)
}
.email-input-container {
    margin-top: 20px;
    margin-left: 80px;
}

.subscribe {
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.email-box {
    display: flex;
    align-items: center;
}

.input-subscribe::placeholder {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #fff;
    opacity: 1;
}

.email-input-container input {
    background: #2e2f42;
    border: none;
    width: 243px;
    color: #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    border: 1px solid white;
    margin: 16px 24px 0px 0px;
    padding-left: 16px;
}

.email-input-container button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 40px;
    padding: 8px 24px 8px 24px;
    cursor: pointer;
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    gap: 16px;
    margin-top: 16px;
}

.email-input-container input:focus {
    outline: none;
    border: 1px solid#4d5ae5;
    transition: var(--transition);
}

.email-input-container button:hover {
    background-color: #404bbf;
    transition: var(--transition);
}

.email-input-container button:active {
    background-color: #4d5ae5;
}

.send {
    width: 24px;
    height: 24px;
    fill: #fff;
}
.buttons {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
    gap: 24px;
    text-align: center;
}
.filters button{
    background-color: #f4f4fd;
    border:1px solid#E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    padding: 12px 24px;
    width: 116px;
    height: 48px;
}
.filters button:hover,
.filters button:focus {
    background-color: #404BBF;;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transform: scale(1.05);
    transition: var(--transition);
    }
.project-card-items{
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}
.project-card-items li{
transition: var(--transition);
}
.project-card-items li:hover{
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); 
 scale: 1.015;
 cursor:pointer;
}

.section-row li{
    width: 360px;
    height: 420px;
    background: #fff;
     border: 1px solid #e7e9fc;
}
.section-row h3 {
    color:var(--title-color);
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
    padding-left: 16px;
}
.section-row p {
    color:var(--content-color);
    font-size: 16px;
    line-height: 1.2;
    padding-left: 16px;
}
.img-container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 360px;
    height: 300px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transform: translatey(100%);
    transition: var(--transition);
}
.portofolio-cards:hover .overlay{
    transform: translatey(0);
}
.overlay .overlay-text{
    color: #f4f4fd;
    margin: 40px 32px 164px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.global-header, .section-hero, .section1, .section2,   .section4 .filters, .section-row{
    display: flex;
    justify-content: center;
}
.is-hidden{
    visibility: hidden;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2f4266;
    transition: var(--transition);
}
.modal-content{
    padding: 16px;
    background-color: white;
    width: 408px;
    height: 584px;
    position: relative;
}
.close-btn{
    background-color: #E7E9FC;
    border-radius: 50%;
    border-style: none;
    outline: none;
    position: absolute;
    top: 24px;
    right: 24px;
    border-color: #E7E9FC;
    width: 24px;
    height: 24px;
    color: #2E2F42;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-btn:hover{
    transform: scale(1.05);
    transition: var(--transition);
    cursor: pointer;
}
label {
    font-family: var(--text-font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8E8F99;
}
.title-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-color) ;
    padding: 50px 14px 10px 14px;
}
.form-group {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 360px;
    height: 58px;
    margin-bottom: 8px;
    gap: 3px;
}
.form-group:focus-within svg {
    fill: #4D5AE5;
    outline: none;
}
.input-for-icon {
    padding: 8px 16px;
    border: 1px solid #2e2f4266 ;
    border-radius: 4px;
}
.input-for-icon:focus {
    outline: 1px solid #4D5AE5;
    border: none;
}
.input-icon:focus {
    color: #4D5AE5;
}
.input-icon {
    padding: 3px 0px;
    width: 18px;
    height: 24px;
    position: absolute;
    top: 26px;
    left: 16px;
    pointer-events: none;
}
.input-comment {
    border: 1px solid #2e2f4266;
    border-radius: 4px;
    width: 360px;
    height: 120px;
    resize: none;
}
.input-comment:focus {
    outline: 1px solid #4D5AE5;
    border: none;
}.input-comment::placeholder {
    text-align: initial;
}
 .check-text {
     display: flex;
     align-items: center;
     margin-top: 40px;
 }
 .check-text label {
     color: #2e2f4266;
     font-weight: 400;
     font-size: 12px;
     line-height: 117%;
     letter-spacing: 0.04em;
     margin-left: 8px;
 }
 .check-text a {
     color: #4d5ae5;
     text-decoration: underline;
     cursor: pointer;
 }
.btn-send-form {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.btn-send {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #fff;
    border: none;
}

.btn-send:hover {
    transform: var(--transition);
    transform: scale(1.05);
    cursor: pointer;
    transition: var(--transition);
}